<!DOCTYPE html>
<html lang='vi'>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Academic management">
	<meta content="author" name="Nguyen Loc">
	<meta content="country" name="Viet Nam">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/file.css">
	<title>Trang chủ</title>
</head>
<body>
	<nav>
		<a href="teacher.html" class="menu_left">Trang chủ</a>
		<a href="" class="menu_left">Cập nhật nội dung khóa học</a>
		<a href="class_manage.html" class="menu_left">Quản lý danh sách lớp</a>
		<a href="" class="menu_left">Đánh giá sinh viên</a>
		<a href="" class="menu_left">Hồ sơ</a>
		<a href="../home/index.html" class="menu_right">Đăng xuất</a>
	</nav>

	<div id="right_side">
			<table>
				<tr>
					<th >STT</th>
					<th >MSSV</th>
					<th >Họ & Tên</th>
					<th >Email</th>
					<th>Đánh giá</th>
				</tr>
				<tr>
					<td class="count"></td>
					<td>MSSV</td>
					<td>NGUYỄN QUỐC LỘC</td>
					<td>loc.nguyendev04@hcmut.edu.vn</td>
					<td>Chọn</td>
				</tr>
				<tr>
					<td class="count"></td>
					<td>MSSV</td>
					<td>NGUYỄN QUỐC LỘC</td>
					<td>loc.nguyendev04@hcmut.edu.vn</td>
					<td>Chọn</td>
				</tr>
			</table>
		</div>
	</div>

</body>
