<!-- Django -->
{% load static %}

<!DOCTYPE html>
<html lang='vi'>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Academic management">
	<meta content="author" name="Nguyen Loc">
	<meta content="country" name="Viet Nam">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/file.css' %}">
	<title>Trang chủ</title>
</head>
<body>
	<nav>
		<a href="/teacher" class="menu_left">Trang chủ</a>
		<a href="/teacher/upload" class="menu_left">Cập nhật nội dung khóa học</a>
		<a href="/teacher/class_manage" class="menu_left">Quản lý danh sách lớp</a>
		<a href="/teacher/profile" class="menu_left">Hồ sơ</a>
		<a href="/login" class="menu_right">Đăng xuất</a>
	</nav>
	<div id="myBtnContainer">
		<button class="btn active" onclick="filterSelection('all')"> Hiển thị tất cả</button>
		{% for course in courses %}
			<a href="{% url 'Course:CourseTeacher' course.id %}" class="btn"> {{ course }}</a>
	  	{% endfor %}
	</div>

	<div class="main_container">
	  <div class="filterDiv programming_plus programming os">CN01</div>
	  <div class="filterDiv programming_plus os">CC01</div>
	  <div class="filterDiv os">L01</div>
	  <div class="filterDiv dsa os">CN02</div>
	</div>

<script src="../js/class_manage.js"></script>

</body>
