<!-- Django -->
{% load static %}

<!DOCTYPE html>
<html lang='vi'>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Academic management">
	<meta content="author" name="Nguyen Loc">
	<meta content="country" name="Viet Nam">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/file.css' %}">
	<title>Trang chủ</title>
</head>
<body>
	<nav>
		<a href="/teacher" class="menu_left">Trang chủ</a>
		<a href="/teacher/class_manage" class="menu_left">Quản lý danh sách lớp</a>
		<a href="/teacher/profile" class="menu_left">Hồ sơ</a>
		<a href="{% url 'Teacher:TeacherSchedule' %}" class="menu_left">Lịch giảng dạy</a>
		<a href="{% url 'Logout:logout' %}" class="menu_right">Đăng xuất</a>
	</nav>
	<h1 class="menu_text">Quản lý danh sách lớp dạy<h1>
	<div id="course_container">
		{% for course in courses %}
			<a href="{% url 'Course:CourseTeacher' course.id %}" class="course_item">
				<div class="course_title">{{ course }}</div>
			</a>
	  	{% endfor %}
	</div>

	<footer>
		<div class="call">
			<div class="fa fa-phone"></div>
			<p class="call_us">Liên hệ: 0123456789 </p>
		</div>
		<div class="contact">
			<div class="fa fa-envelope"></div>
			<p class="contact_us">E-mail:defuniversity@def.edu.vn</p>
		</div>
	</footer>
	<script src="{% static 'js/reloadPage.css' %}"></script>

</body>
