<!-- Django -->
{% load static %}

<!DOCTYPE html>
<html lang='vi'>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Academic management">
	<meta content="author" name="Nguyen Loc">
	<meta content="country" name="Viet Nam">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/file.css' %}">
    <link rel="stylesheet" href="{% static 'css/schedule.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

	<title>Trang giảng viên</title>
</head>
<body>
    <div class="sticky-top">
        <nav>
            <a href="/teacher" class="menu_left">Trang chủ</a>
            <a href="/teacher/class_manage" class="menu_left">Quản lý danh sách lớp</a>
            <a href="/teacher/profile" class="menu_left">Hồ sơ</a>
            <a href="/teacher/schedule" class="menu_left">Lịch giảng dạy</a>
            <a href="{% url 'Logout:logout' %}" class="menu_right">Đăng xuất</a>
        </nav>
    </div>

	<h1 style="text-align: center; font-weight: bold; margin-bottom: 20px; margin-top: 20px;">Lịch giảng dạy</h1>
    
    {% for semester, schedules in schedules_by_semester.items %}
        <h2>Học kì {{ semester }}</h2>
        <table class="schedule-table">
            <thead>
                <tr>
                    <th>Tên môn học</th>
                    <th>Nhóm</th>
                    <th>Thứ</th>
                    <th>Thời gian</th>
                </tr>
            </thead>
            <tbody>
                {% for schedule in schedules %}
                    <tr>
                        <td>{{ schedule.course.subject.name }}</td>
                        <td>{{ schedule.course.id_course }}</td>
                        <td>{{ schedule.days }}</td>
                        <td>{{ schedule.start_hour }}:00 - {{ schedule.end_hour }}:50</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}

  <footer>
	  <div class="call">
		  <div class="fa fa-phone"></div>
		  <p class="call_us">Liên hệ: 0123456789 </p>
	  </div>
	  <div class="contact">
		  <div class="fa fa-envelope"></div>
		  <p class="contact_us">E-mail:defuniversity@def.edu.vn</p>
	  </div>
  </footer>
  <script src="{% static 'js/reloadPage.css' %}"></script>
</body>
