<!-- Django -->
{% load static %}

<!DOCTYPE html>
<html lang='vi'>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Academic management">
	<meta content="author" name="Nguyen Loc">
	<meta content="country" name="Viet Nam">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/file.css' %}">
	<!-- <link rel="stylesheet" href="{% static 'css/home.css' %}"> -->
	<link rel="stylesheet" href="{% static 'css/reloadPage.css' %}">

	<title>Trang giảng viên</title>
</head>
<body>
	<nav>
		<a href="/teacher" class="menu_left">Trang chủ</a>
		<a href="/teacher/class_manage" class="menu_left">Quản lý danh sách lớp</a>
		<a href="/teacher/profile" class="menu_left">Hồ sơ</a>
		<a href="/teacher/schedule" class="menu_left">Lịch giảng dạy</a>
		<a href="{% url 'Logout:logout' %}" class="menu_right">Đăng xuất</a>
	</nav>

	<div class="slideshow-container">
		<div class="mySlides fade">
		  <!--<div class="numbertext">1 / 3</div>-->
		  <img src="{% static 'assets/Education.jpg' %}" style="width:100%">
		  <div class="text">Chào mừng bạn ghé tới trang của chúng tôi</div>
		</div>
		
		<div class="mySlides fade">
		  <!--<div class="numbertext">2 / 3</div>-->
		  <img src="{% static 'assets/Picture3.jpeg' %}" style="width:100%">
		  <div class="text">Đây là trang quản lý học thuật</div>
		</div>
		
		<div class="mySlides fade">
		  <!--<div class="numbertext">3 / 3</div>-->
		  <img src="{% static 'assets/Picture2.jpeg' %}" style="width:100%">
		  <div class="text">Phát triển do một nhóm sinh viên KHKTMT-clc TCTN k22 của trường ĐHBK</div>
		</div>
		
		<a class="prev" onclick="plusSlides(-1)">❮</a>
		<a class="next" onclick="plusSlides(1)">❯</a>
		
	</div>
	<br>
		
	<div style="text-align:center">
		<span class="dot" onclick="currentSlide(1)"></span> 
		<span class="dot" onclick="currentSlide(2)"></span> 
		<span class="dot" onclick="currentSlide(3)"></span> 
	</div>
		
	<footer>
		<div class="call">
			<div class="fa fa-phone"></div>
			<p class="call_us">Liên hệ: 0123456789 </p>
		</div>
		<div class="contact">
			<div class="fa fa-envelope"></div>
			<p class="contact_us">E-mail:defuniversity@def.edu.vn</p>
		</div>
	</footer>
	<script>
		let slideIndex = 1;
		showSlides(slideIndex);
		
		function plusSlides(n) {
		  showSlides(slideIndex += n);
		}
		
		function currentSlide(n) {
		  showSlides(slideIndex = n);
		}
		
		function showSlides(n) {
		  let i;
		  let slides = document.getElementsByClassName("mySlides");
		  let dots = document.getElementsByClassName("dot");
		  if (n > slides.length) {slideIndex = 1}    
		  if (n < 1) {slideIndex = slides.length}
		  for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";  
		  }
		  for (i = 0; i < dots.length; i++) {
			dots[i].className = dots[i].className.replace(" active", "");
		  }
		  slides[slideIndex-1].style.display = "block";  
		  dots[slideIndex-1].className += " active";
		}
	</script>
	<script src="{% static 'js/reloadPage.css' %}"></script>
</body>
