
{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách Tài liệu</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Danh sách Tài liệu của Khóa học</h1>
    </header>

    <main>
        <ul>
            {% for document in documents %}
            <li>
                <h3>{{ document.description }}</h3>
                <p>Giáo trình: {{ document.syllabus }}</p>
                <!-- Link để tải xuống tài liệu -->
                {% if document.course_file %}
                <a href="{{ document.course_file.url }}" download>Tải về</a>
                {% else %}
                <p>Không có tài liệu đính kèm.</p>
                {% endif %}
            </li>
            {% empty %}
            <li>Không có tài liệu nào được tải lên cho khóa học này.</li>
            {% endfor %}
        </ul>
    </main>

    <footer>
        <p>Bản quyền © 2024 Website của bạn.</p>
    </footer>
</body>
</html>