<!-- Django template -->
{% load static %}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/file.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Xem điểm môn "{{course}}"</title>
</head>
<body>
    <nav>
		<a href="{% url 'Student:student' %}" class="menu_left">Trang chủ</a>
		<a href="{% url 'Student:student_course' %}" class="menu_left">Khóa học của tôi</a>
		<a href="{% url 'Registration:registration_student' %}" class="menu_left">Đăng ký môn học</a>
		<a href="{% url 'Student:student_profile' %}" class="menu_left">Hồ sơ lý lịch</a>
		<a href="{% url 'Student:student_score' %}" class="menu_left">Điểm số</a>
		<a href="{% url 'Student:student_schedule' %}" class="menu_left">Thời khóa biểu</a>
		<a href="{% url 'Logout:logout' %}" class="menu_right">Đăng xuất</a>
	</nav>


    <h1 class="menu_text">Điểm môn học: {{ course }}</h1>
    <div class="center_form"> 
        <h2>Sinh viên: {{ student.name }}</h2>
        <hr>
        <div class="list_form">
            {% if grade.assignment_score is not None %}
                <p>Điểm bài tập: {{ grade.assignment_score }}</p>
            {% else %}
                <p>Điểm bài tập:</p>
            {% endif %}
            {% if grade.midterm_score is not None %}
                <p>Điểm giữa kỳ: {{ grade.midterm_score }}</p>
            {% else %}
                <p>Điểm giữa kỳ:</p>
            {% endif %}
            {% if grade.final_score is not None %}
                <p>Điểm cuối kỳ: {{ grade.final_score }}</p>
            {% else %}
                <p>Điểm cuối kỳ:</p>
            {% endif %}
            {% if grade.average_score is not None %}
                <p class="hightlight_form">Điểm tổng kết: {{ grade.average_score }}</p>
            {% else %}
                <p class="hightlight_form">Điểm tổng kết:</p>
            {% endif %}
        </div>
    </div>
</body>
</html>