{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Student Assessment</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        h2 {
            color: #333;
        }
        form {
            margin-top: 20px;
        }
        button {
            background-color: #4CAF50;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
    <meta charset="utf-8">
	<meta name="description" content="Academic management">
	<meta content="author" name="Nguyen Loc">
	<meta content="country" name="Viet Nam">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/file.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <nav>
		<a href="{% url 'Student:student' %}" class="menu_left">Trang chủ</a>
		<a href="{% url 'Student:student_course' %}" class="menu_left">Khóa học của tôi</a>
		<a href="{% url 'Registration:registration_student' %}" class="menu_left">Đăng ký môn học</a>
		<a href="{% url 'Student:student_profile' %}" class="menu_left">Hồ sơ lý lịch</a>
		<a href="{% url 'Student:student_score' %}" class="menu_left">Điểm số</a>
		<a href="{% url 'Student:student_schedule' %}" class="menu_left">Thời khóa biểu</a>
		<a href="{% url 'Logout:logout' %}" class="menu_right">Đăng xuất</a>
	</nav>
    
    <h2>Student Assessment</h2>
    {% if assessment %}
        <h3>Teacher's Assessment</h3>
        <p>Teacher: {{ assessment.teacher }}</p>
        <p>Assessment: {{ assessment.assessment }}</p>
    {% else %}
        <p>No assessment has been given yet.</p>
    {% endif %}
</body>
</html>