{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Review môn "{{course}}"</title>
    <meta charset="utf-8">
	<meta name="description" content="Academic management">
	<meta content="author" name="Nguyen Loc">
	<meta content="country" name="Viet Nam">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/file.css' %}">
</head>
<body>
    <nav>
		<a href="{% url 'Student:student' %}" class="menu_left">Trang chủ</a>
		<a href="{% url 'Student:student_course' %}" class="menu_left">Khóa học của tôi</a>
		<a href="{% url 'Registration:registration_student' %}" class="menu_left">Đăng ký môn học</a>
		<a href="{% url 'Student:student_profile' %}" class="menu_left">Hồ sơ lý lịch</a>
		<a href="{% url 'Student:student_score' %}" class="menu_left">Điểm số</a>
		<a href="{% url 'Student:student_schedule' %}" class="menu_left">Thời khóa biểu</a>
		<a href="{% url 'Logout:logout' %}" class="menu_right">Đăng xuất</a>
	</nav>
    
    <h1 class="menu_text">Đánh Giá Sinh Viên</h1>
    <div class="center_form">
	    <h2 class="h2_text">Phản Hồi Của Giáo Viên</h2>
    	<div class="list_form">
	        {% if assessment %}
	            <p>Giáo Viên: {{ assessment.teacher }}</p>
	            <p>Đánh Giá: {{ assessment.comment }}</p>
	        {% else %}
	            <p>Không Có Đánh Giá Nào.</p>
	        {% endif %}
	    </div>
    </div>
</body>
</html>