<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
    <link rel="stylesheet" href="static/login.css" />
  </head>

  <body>
    <main>
      <section class="login-form">
        <h2>Smart student's information manament system</h2>
        <form action="#">
          <label for="username">Username/Email:</label>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Nhập tên tài khoản"
          />
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Input password"
          />

          <!-- <label for="role">Loại tài khoản :</label>
                <select id="role" name="role">
                    <option value="student">Sinh viên</option>
                    <option value="teacher">Giáo viên</option>
                </select> -->
          <button type="submit">Login</button>
        </form>
        <p>
          <a href="#">Forgot password?</a>
        </p>
      </section>
    </main>
    <footer>
      <p>Copyright © 2024 - TienTrumCode Learning Platform</p>
    </footer>
  </body>
</html>
