{% load static %}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đánh Giá Sinh Viên</title>
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
    <link rel="stylesheet" href="{% static 'css/file.css' %}">
</head>
<body>
    <nav>
		<a href="/teacher" class="menu_left">Trang chủ</a>
		<a href="/teacher/upload" class="menu_left">Cập nhật nội dung khóa học</a>
		<a href="/teacher/class_manage" class="menu_left">Quản lý danh sách lớp</a>
		<a href="/teacher/profile" class="menu_left">Hồ sơ</a>
		<a href="{% url 'Logout:logout' %}" class="menu_right">Đăng xuất</a>
	</nav>

    <div class="container">
        <h1 class="menu_text"> {{ course.subject.name }}</h1>
        <table class="student-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Họ và tên</th>
					<th>Khoa</th>
                    <th>Email</th>
					<th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students_course %}
                <tr>
                    <td>{{ student.student_id }}</td>
                    <td>{{ student.name }}</td>
					<td>{{ student.department }}</td>
                    <td>{{ student.username.email }}</td>
					<td><a href=""><button type="submit">Đánh giá</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
