{% load static %}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Information</title>
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
</head>
<body>
    <h1>Course Information</h1>
    <h2>{{ course.subject.name }} - HK{{ course.semester.semester_id }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>