{% load static %}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload tài liệu</title>
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
    <link rel="stylesheet" href="{% static 'css/file.css' %}">
</head>

<body>
    <nav>
        <a href="/teacher" class="menu_left">Trang chủ</a>
		<a href="/teacher/class_manage" class="menu_left">Quản lý danh sách lớp</a>
		<a href="/teacher/profile" class="menu_left">Hồ sơ</a>
		<a href="/teacher/schedule" class="menu_left">Lịch giảng dạy</a>
		<a href="{% url 'Logout:logout' %}" class="menu_right">Đăng xuất</a>
    </nav>
    <h1 class="menu_text"> Upload tài liệu và mô tả khóa học</h1>
    <div class="center_form" class=".container_box">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                <div class="form-group">
                    <div class="list_form">
                        {{ form.id }}
                        <div font-family="Arial">
                            <h2 class="h2_text">Mô tả</h2>
                            {{ form.description }}
                            {{ form.syllabus }}
                        </div>
                        {{ form.course_file }}
                        {% if form.DELETE %}
                            <label>Delete: {{ form.DELETE }}</label>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </form>
        <button type="submit">Upload</button>
    </div>
    
</body>
</html>

