{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Review khóa học</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .review {
            width: 50%;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 20px;
        }
    </style>
    <meta charset="utf-8">
	<meta name="description" content="Academic management">
	<meta content="author" name="Nguyen Loc">
	<meta content="country" name="Viet Nam">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/file.css' %}">
</head>
<body>
    <nav>
		<a href="/teacher" class="menu_left">Trang chủ</a>
		<a href="/teacher/class_manage" class="menu_left">Quản lý danh sách lớp</a>
		<a href="/teacher/profile" class="menu_left">Hồ sơ</a>
		<a href="/teacher/schedule" class="menu_left">Lịch giảng dạy</a>
		<a href="{% url 'Logout:logout' %}" class="menu_right">Đăng xuất</a>
	</nav>
    
    <h1 class="menu_text">Đánh Giá Khóa Học</h1>
    <div class="center_form">
        <div class="list_form">
            {% if assessment %}
                <p>Phản Hồi Khóa Học: {{ assessment.course_feedback }}</p>
                <p>Phản Hồi Giáo Viên: {{ assessment.teacher_feedback }}</p>
                <p>Điều Cần Cải Thiện: {{ assessment.improvements }}
            {% else %}
                <p>Không Có Đánh Giá Nào.</p>
            {% endif %}
        </div>
    </div>
    
</body>
</html>