{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Course Reviews</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .review {
            width: 50%;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 20px;
        }
    </style>
    <meta charset="utf-8">
	<meta name="description" content="Academic management">
	<meta content="author" name="Nguyen Loc">
	<meta content="country" name="Viet Nam">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/file.css' %}">
</head>
<body>
    <nav>
		<a href="/teacher" class="menu_left">Trang chủ</a>
		<a href="/teacher/class_manage" class="menu_left">Quản lý danh sách lớp</a>
		<a href="/teacher/profile" class="menu_left">Hồ sơ</a>
		<a href="/teacher/schedule" class="menu_left">Lịch giảng dạy</a>
		<a href="{% url 'Logout:logout' %}" class="menu_right">Đăng xuất</a>
	</nav>
    
    <h2>Teacher Assessment</h2>
    {% if assessment %}
        <p>Course Feedback: {{ assessment.course_feedback }}</p>
        <p>Teacher Feedback: {{ assessment.teacher_feedback }}</p>
        <p>Improvements: {{ assessment.improvements }}
    {% else %}
        <p>No assessment has been given yet.</p>
    {% endif %}
</body>
</body>
</html>