<!-- Django -->
{% load static %}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang đăng nhập</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="reset_password.html">
</head>

<body>
   <!--  <header>
        <img src="logo-bk.png" alt="Logo Bách Khoa">
        <h1>ĐẠI HỌC BÁCH KHOA TP. HỒ CHÍ MINH</h1>
    </header> -->
    <main>
        <section class="login-form">
            <h2>Hệ thống thông tin sinh viên</h2>
            <button class="accordion">
                <a href="/login"> Cán bộ/Sinh viên</a>
            </button>
            <button class="accordion">
                <a href="/admin"> Quản trị viên</a>
            </button>      
        </section>
    </main>
</body>
</html>