body {
    font-family: Arial, sans-serif;
    margin: 100px;
    padding: 0;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header img {
    width: 150px;
    height: auto;
    float: left;
}

header h1 {
    margin-top: 0;
    margin-bottom: 10px;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section {
    padding: 20px;
}

.login-form {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 500px;
    margin: 0 auto;
}

.login-form h2 {
    text-align: center;
    margin-top: 0;
}
    
.login-form form {
    padding: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    margin-top: 10px;
}

.login-form p {
    text-align: right;
    margin-top: 10px;
}

.login-form a {
    color: #000;
}

#fail a {
    color: red;
    text-align: center;
}
