<!DOCTYPE html>
<html lang='vi'>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Academic management">
	<meta content="author" name="Nguyen Loc">
	<meta content="country" name="Viet Nam">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../static/css/file.css">

	<title>Đăng ký môn học</title>
</head>
<body>
	<nav>
		<a href="student.html" class="menu_left">Trang chủ</a>
		<a href="my_course.html" class="menu_left">Khóa học của tôi</a>
		<a href="course_registration.html" class="menu_left">Đăng ký môn học</a>
		<a href="profile.html" class="menu_left">Hồ sơ và quản lý cá nhân</a>
		<a href="../home/index.html" class="menu_right">Đăng xuất</a>
	</nav>

	<div id="flex_container">
		<form1 id="regForm" action="/action_page.php">
		  <h1 class="menu_text">Đăng ký môn học</h1>
		  <!-- One "tab" for each step in the form: -->
		  <div class="tab">
		  	<h2>Chọn đợt đăng ký </h2>
		    <p>
		       <label id="semester_font" for="id_semester">Semester:</label>
		       <select name="semester" required id="id_semester">
		         <option value="">---------</option>
		         <option value="1" selected>232</option>
		         <option value="2">231</option>
		         <option value="3">223</option>
		         <option value="4">222</option>
		         <option value="5">221</option>
		    	</select>
			</p>
			<button type="submit">Chọn</button>
		  </div>
  		<div class="tab">
		<!-- <div id="left_side"> -->
			<h2>Chọn môn đăng ký</h2>
			<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Tìm kiếm tên môn học...">
			<!--Môn giải tích 1-->
			<div onclick="document.getElementById('id01').style.display='block'" style="width:auto;">
				<ul id="myUL">
			 		 <li><a >MT1003 Giải tích 1</a></li>
				</ul>
			</div>
			<div id="id01" class="modal">
				 <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
				 <form2 class="modal-content" action="/action_page.php">
					 <div class="container_box">
					    <div>
					    	<h3 id="subject_title">MT1003 Giải tích 1</h3> 
					        
					    </div>
						    <table>
							  <tr>
							    <th>Nhóm lớp</th>
							    <th colspan="2">Giảng viên</th>
							    <th>#</th>
							  </tr>
							  <tr>
							    <td>CN01</td>
							    <td>Nguyễn Xuân Anh</td>
							    <td></td>
							    <td><button type="submit">Chọn</button></td>
							  </tr>
							  <tr>
							    <td>Thứ</td>
							    <td>Tiết</td>
							    <td>Phòng</td>
							    <td>Tuần học</td>
							  </tr>
							  <tr>
							    <td>Thứ 2</td>
							    <td>- - 3 4 - - - - - - - - - - - -</td>
							    <td>A4 - 311</td>
							    <td>1234-6789---------------------</td>
							  </tr>
							</table>

							<!-- <hr> -->

							<table>
							  <tr>
							    <th>Nhóm lớp</th>
							    <th colspan="2">Giảng viên</th>
							    <th>#</th>
							  </tr>
							  <tr>
							    <td>CN02</td>
							    <td>Nguyễn Hữu Hiệp</td>
							    <td></td>
							    <td><button type="submit">Chọn</button></td>
							  </tr>
							  <tr>
							    <td>Thứ</td>
							    <td>Tiết</td>
							    <td>Phòng</td>
							    <td>Tuần học</td>
							  </tr>
							  <tr>
							    <td>Thứ 3</td>
							    <td>- - 3 4 5 - - - - - - - - - - -</td>
							    <td>B4 - 402</td>
							    <td>1234-6789---------------------</td>
							  </tr>
							</table>
		      
		       				<div class="clearfix">
		        			<button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
		        			<button type="submit" class="okbtn">Ok</button>
		      			</div>
		    		</div>
		  		</form2>
			</div>
			<!--Môn giải tích 1-->

			
		<!-- </div> -->
 		</div>
  
  		<div class="tab">
		<!-- <div id="right_side"> -->
			<h2>Kết quả đăng ký</h2>
			<div id="course_container">
				<div class="course_item">
					<img class="course_img" src="../../static/assets/course.png"/>
					<div class="course_title">MT1003 Giải tích 1</div>
					<div class="course_desc">Lớp: CN01 - Giảng viên: Nguyễn Xuân Anh</div>
				</div>
				<div class="course_item">
					<img class="course_img" src="../../static/assets/course.png"/>
					<div class="course_title">CO1005 Nhập môn điện toán</div>
					<div class="course_desc">Lớp: CN01 - Giảng viên: Nguyễn Hứa Phùng</div>
				</div>
			</div>
		<!-- </div> -->
  		</div>
  
		  <div style="overflow:auto;">
		    <div style="float:right;">
		      <button type="button" id="prevBtn" onclick="nextPrev(-1)">Quay lại</button>
		      <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
		    </div>
		  </div>
 
  		<!-- Circles which indicates the steps of the form: -->
		  <div style="text-align:center;margin-top:40px;">
		    <span class="step"></span>
		    <span class="step"></span>
		    <span class="step"></span>
		  </div>
		</form1>
	</div>

	
	<script src="../../static/js/course_registration.js"></script>
</body>
