body {font-family: Arial, Helvetica, sans-serif;}

* {box-sizing: border-box;}

* {
    margin: 0px;
}
nav {
    background-color: #023A3C;
    overflow: hidden;
}

nav a {
    color: white;
    padding: 24px 36px;
    text-align: center;
    text-decoration: none;
    display: block;
}

nav a:hover {
    background-color: #CAD4CB;
    color: black;
}

.menu_text {
    text-align: center;
    padding: 30px;
    margin: 0;
    font-size: 40px;
}

.menu_left {
    float: left;
}

.menu_right {
    float: right;
}

footer {
    background-color: #023A3C;
    color: white;
    padding: 20px 40px;
    text-align: center;
}

footer > a {
    color: white;
}

#theme1 {
    background-color: #f1f1f1;
}

#theme2 {

}

.overview {
    padding: 10px 20px;
}



/*Search Bar*/
    .search-container {
/*        float: left;*/
          text-align: center;


    }

    input[type=text] {
        padding: 6px;
        margin: 8px;
        font-size: 17px;
        border: 1px solid black;
    }

    .search-container button {
/*        float: left;*/
        padding: 6px 10px;
        margin: 10px;
/*        margin-right: 16px;*/
        background: #ddd;
        font-size: 17px;
        border: 1px solid black;
        cursor: pointer;
    }

    .search-container button:hover {
        background: #ccc;
    }

    @media screen and (max-width: 600px) {
        .search-container {
            float: none;
        }

        input[type=text], .search-container button {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 14px;
        }

        iput[type=text] {
            border: 1px solid #ccc;
        }
    }
/*Search Bar*/

/*List of the subjects*/
.course_item {
    text-align: center;
    flex: 50%;
}

.course_img {
    width:60%;
    height:60%;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.5s;
}

.course_img:hover {
    opacity: 0.85;
}

.course_title {
    text-decoration: none;
    display: block;
    padding: 36px 48px;
    cursor: pointer;
    transition: opacity 0.5s;
}

.course_title {
    opacity: 0.85;
}

.course_math_img{
    width:80%;
    height:80%;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.5s;

}
.course_math_img:hover{
    opacity: 0.85;
}
.course_web_img{
    width:80%;
    height:80%;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.5s;
}
.course_web_img:hover{
    opacity: 0.85;
}
.course_python_img{
    width:80%;
    height:80%;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.5s;
}
.course_python_img:hover{
    opacity: 0.85;
}
.course_game_img{
    width:80%;
    height:80%;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.5s;
}
.course_game_img:hover{
    opacity: 0.85;
}

.course_item_img{
    width:80%;
    height:80%;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.5s;
}
.course_item_img:hover{
    opacity: 0.85;
}
.course_AI_img{
    width:80%;
    height:80%;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.5s;
}
.course_AI_img:hover{
    opacity: 0.85;
}

.course_title {
    font-size: 150%;
    font-weight: bold;
    padding: 10px 10px 5px 10px;
}

.course_desc {
    margin: 0px 10px 20px 10px;
}

#course_container {
            display: flex;
            flex-wrap: wrap;
}

@media(max-width: 800px) {
/*    #left_side {
        flex: 100%;
    }

    #right_side {
        flex: 100%;
    }*/

    #flex_container {
        flex-wrap: wrap;
        background-color: #f1f1f1;
    }

    .course_item {
        flex: 50%;
    }
}
/*List of the subject*/

/*Styling the table*/
/*table {
    border-collapse: collapse;
    counter-reset: section;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2B4B54;
  color: white;
}*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  background-color: white;
}
table th {
    background-color: #f2f2f2;
}
table th, table td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 16px;
}
/*Styling the table*/

#left_side {
    flex: 40%;
    background-color: #f1f1f1;
    padding: 10px 20px;
}

#right_side {
    flex: 60%;
    padding: 10px 20px;
}

#flex_container {
    display: flex;
    display: nowrap;
}
.count:before {
  counter-increment: section;
  content: counter(section);
}
/*Styling the table*/



/*class_manage*/
.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.main_container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
/*class_manage*/

/*accordion*/
/*.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}*/
/*accordion*/

/*course_registration*/
/*filter*/
#myInput {
  background-image: url('../assets/search.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
/*filter*/
/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.okbtn {
    padding: 14px 20px;
    background-color: #5f64f7;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .okbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container_box {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #04AA6D;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}
#center_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Chiều cao toàn màn hình */
}

#subject_title {
    background-color: #023A3C;
    color: white;
}
#semester_font {
  font-family: 'Arial', sans-serif;
  color: #333333;
  font-size: 28px;
  font-weight: bold;
}

#id_semester {
  font-family: 'Verdana', sans-serif;
  color: #555555;
  font-size: 26px;  
  padding: 17px;
  margin: 22px 0;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
/*course_registration*/
