body {font-family: Arial, Helvetica, sans-serif;}

* {box-sizing: border-box;}

* {
    margin: 0px;
}

nav {
    background-color: #023A3C;
    overflow: hidden;
}

nav a {
    color: white;
    padding: 24px 36px;
    text-align: center;
    text-decoration: none;
    display: block;
}

nav a:hover {
    background-color: #CAD4CB;
    color: black;
}

#menu_text {
	text-align: center;
	padding: 80px;
	margin: 0;
}

.menu_left {
	float: left;
}

.menu_right {
	float: right;
}

#overview {
    padding: 10px 20px;
}

footer {
    background-color: #023A3C;
    color: white;
    padding: 20px 40px;
    text-align: center;
}

footer > a {
    color: white;
}

.Menu {
background-color: #023A3C;
color:white;

}
.Section1{
    
    display:grid;  
    grid-template-columns: 200px 1300px 1fr 1fr 9px;
    
}
.call{
    
    padding-left:20px;
    margin-top:0px;
}
.fa fa-phone{
    display:inline-block;
   
    padding-right:0px;
}
.call_us{
    display:inline-block;
    padding-top: 6px;
    padding-bottom:6px;
    padding-left:2px;
    font-size:16px;
}
.contact{
    padding-left:20px;
    padding-left:10px;
    margin-top:0px;
}
.fa fa-envelope{
    display:inline-block;
    padding-left:100px;
    padding-right:0px;
}
.contact_us{
    display:inline-block;
    padding-top: 6px;
    padding-bottom:6px;
    padding-left:2px;
    font-size:16px;
}
.Language{
    padding-top:20px;
    padding-bottom:20px;
    padding-right: 10px;
}
.login{
    color:white;
    display: inline-block;
    text-decoration: none;
    padding-top:20px;
    padding-bottom:20px;
    cursor: pointer;
    
    transition: text-decoration 0.3s;    
}
.login:hover{
    
    text-decoration: underline;
}

.Section2{
    background-color:White;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.Logo{
    
    width:150px;
    padding-left:60px;
    cursor: pointer;
}

.Home1{
   
    width:300px;
   
}
.Trangtru{
 display: inline-block;
 padding-left:15px;
 font-size:17px;
 
}
.Trangtru a {
    text-decoration: none;
    padding-top:10px;
    padding-bottom:10px;
    color:black;
    transition: background-color 0.15;
}
.Trangtru a:hover{
    background-color:rgb(248, 249, 250); 
}
.course{
    display: inline-block;
    
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:17px;
    cursor: pointer;
    transition: background-color 0.15;
}
.course:hover{
   background-color:rgb(248, 249, 250); 
}
#slideshow {
    overflow: hidden;
    height: 570px;
    width: 1700px;
    margin: 0 auto;
  }
  
  .slide-wrapper {
    width: 2912px;
    animation: slide 14s ease infinite; /* Chuẩn */
    -webkit-animation: slide 14s ease infinite; /* Safari và Chrome */
}

.slide {
    float: left;
    height: 600px;
    width: 728px;
  }

/* Định nghĩa keyframes cho animation chuẩn */
@keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -728px;}
    50% {margin-left: -728px;}
    60% {margin-left: -1456px;}
    80% {margin-left: -1456px;}
}

/* Định nghĩa keyframes cho -webkit- */
@-webkit-keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -728px;}
    50% {margin-left: -728px;}
    60% {margin-left: -1456px;}
    80% {margin-left: -1456px;}
}