<!DOCTYPE html>
<html lang='vi'>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Academic management">
	<meta content="author" name="Nguyen Loc">
	<meta content="country" name="Viet Nam">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../static/css/home.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
	<title>Trang chủ</title>
</head>
<script>
    function reloadPage() {
        location.reload();
    }
	
</script>

<body>
	<div class="Menu">
		<div class="Section1">
		<div class="call">
			<div class="fa fa-phone"></div>
			<p class="call_us">Call Us: 0915728661</p>
		</div>
		<div class="contact">
			<div class="fa fa-envelope"></div>
			<p class="contact_us">E-mail:ABC@gmail.com</p>
		</div>
		<div class="Language">English(EN)</div>
		<a href="#" class="login">Đăng nhập</a>

		
	    </div>
		<div class="Section2">
			
				<img class="Logo" src="../../static/assets/Logo.png" onclick="reloadPage()" >
			
			<div class="Home1">
				<p class="Trangtru"><a href="#" onclick="reloadPage()">Trang Trủ</a></p>
				<p class="course">Danh sách khóa học</p>
			</div>
					
		</div>
	</div>

	<h1 id="menu_text">
		Welcome to the ABC University
	</h1>

	<!-- BackGround -->
	<div id="back_ground_wave">
	     <div class="wave"></div>
	     <div class="wave"></div>
	     <div class="wave"></div>
 	</div>
	<!-- BackGround -->
	
</body>