{% load static %}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student View</title>
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
</head>
<body>
    <h1>{{ course }}</h1>
    <p>Môn học: {{ course.subject.name }}</p>
    <p>Học kì: {{ course.semester.semester_id }}</p>
    <div>
        <a href="{% url 'Course:ScoreView' course.id %}" class="btn">Xem điểm</a>
        <a href="{% url 'Course:DocumentView' course.id %}" class="btn">Xem tài liệu</a>
    </div>
</body>
</html>
