{% load static %}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
    <link rel="stylesheet" href="{% static 'css/file.css' %}">
    <title>Student View</title>

</head>
<body>
    <nav>
		<a href="{% url 'Student:student' %}" class="menu_left">Trang chủ</a>
		<a href="{% url 'Student:student_course' %}" class="menu_left">Khóa học của tôi</a>
		<a href="{% url 'Registration:registration_student' %}" class="menu_left">Đăng ký môn học</a>
		<a href="{% url 'Student:student_profile' %}" class="menu_left">Hồ sơ lý lịch</a>
		<a href="{% url 'Student:student_score' %}" class="menu_left">Điểm số</a>
		<a href="{% url 'Student:student_schedule' %}" class="menu_left">Thời khóa biểu</a>
		<a href="{% url 'Logout:logout' %}" class="menu_right">Đăng xuất</a>
	</nav>

    <h1 class="menu_text">{{ course }}</h1>
    <div class="center_form">
        <p class="overview">Môn học: {{ course.subject.name }}</p>
        <p class="overview">Nhóm: {{ course.id_course }}</p>
        <p class="overview">Học kì: {{ course.semester.semester_id }}</p>
        <p class="overview">Giảng viên: {{ course.teacher.name }}</p>
        <div>
            <a href="{% url 'Course:ScoreView' course.id %}" class="btn">Xem điểm</a>
            <a href="{% url 'Course:DocumentView' course.id %}" class="btn">Xem tài liệu</a>
            <a href="{% url 'Assessment:StudentAssessmentView' course.id %}" class="btn">Đánh giá khóa học</a>
            <a href="{% url 'Assessment:StudentAssessView' course.id %}" class="btn">Xem Phản Hồi Giáo Viên</a>
        </div>
    </div>
</body> 
</html>
