<!DOCTYPE html>
<html lang='vi'>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Academic management">
	<meta content="author" name="Nguyen Loc">
	<meta content="country" name="Viet Nam">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../static/css/file.css">
	<title>Trang chủ</title>
</head>
<body>
	<nav>
		<a href="teacher.html" class="menu_left">Trang chủ</a>
		
		<a href="" class="menu_left">Quản lý danh sách lớp</a>
		<a href="" class="menu_left">Đánh giá sinh viên</a>
		<a href="" class="menu_left">Hồ sơ</a>
		<a href="../home/index.html" class="menu_right">Đăng xuất</a>
	</nav>
	<div id="myBtnContainer">
	  <button class="btn active" onclick="filterSelection('all')"> Hiển thị tất cả</button>
	  <button class="btn" onclick="filterSelection('programming_plus')"> Lập trình nâng cao</button>
	  <button class="btn" onclick="filterSelection('programming')"> Kỹ thuật lập trình</button>
	  <button class="btn" onclick="filterSelection('dsa')"> Cấu trúc dữ liệu và giải thuật	</button>
	  <button class="btn" onclick="filterSelection('os')"> Hệ điều hành</button>
	</div>

	<div class="main_container">
	  <div class="filterDiv programming_plus programming os">CN01</div>
	  <div class="filterDiv programming_plus os">CC01</div>
	  <div class="filterDiv os">L01</div>
	  <div class="filterDiv dsa os">CN02</div>
	</div>

<script src="../../static/js/class_manage.js"></script>

</body>
