<!-- Django -->
{% load static %}

<!DOCTYPE html>
<html lang='vi'>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Academic management">
	<meta content="author" name="Nguyen Loc">
	<meta content="country" name="Viet Nam">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/file.css' %}">
	<title>Trang sinh viên</title>
</head>
<body>
	<!-- BackGround -->
	<div id="back_ground_wave">
	     <div class="wave"></div>
	     <div class="wave"></div>
	     <div class="wave"></div>
 	</div>
	<!-- BackGround -->

	<nav>
		<a href="{% url 'Student:student' %}" class="menu_left">Trang chủ</a>
		<a href="{% url 'Student:student_course' %}" class="menu_left">Khóa học của tôi</a>
		<a href="{% url 'Registration:registration_student' %}" class="menu_left">Đăng ký môn học</a>
		<a href="{% url 'Student:student_profile' %}" class="menu_left">Hồ sơ và quản lý cá nhân</a>
		<a href="{% url 'Logout:logout' %}" class="menu_right">Đăng xuất</a>
	</nav>
	<div id="theme1">
		<h1 id="menu_text">
			Các khóa học của tôi
		</h1>
		<h2 id="overview">Tổng quan về khóa học</h2>
		<div class="search-container">
	    	<form action="/action_page.php">
	     		<input type="text" placeholder="Tìm kiếm..." name="search">
	      		<button type="submit"><i class="fa fa-search"></i></button>
	    	</form>
	  	</div>
	</div>
  	<br>
  	<br>
  	<div id="theme2">
  	<h2 id="course"></h2>
	  	{% for semester, courses in courses_by_semester.items %}
			<h2 id="course">Học kỳ {{ semester }}</h2>
			<div id="course_container">
				{% for course in courses %}
				<a href="{% url 'Course:CourseStudent' course.id %}" class="course_item">
					<div class="course_title">{{ course }}</div>
				</a>
				{% endfor %}
			</div>
		{% endfor %}
  	</div>
	

</body>
