<!-- Django -->
{% load static %}

<!DOCTYPE html>
<html lang='vi'>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Academic management">
	<meta content="author" name="Nguyen Loc">
	<meta content="country" name="Viet Nam">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/file.css' %}">
	<title>Trang sinh viên</title>
</head>
<body>
	<!-- BackGround -->
	<div id="back_ground_wave">
	     <div class="wave"></div>
	     <div class="wave"></div>
	     <div class="wave"></div>
 	</div>
	<!-- BackGround -->
	
	<nav>
		<a href="/student" class="menu_left">Trang chủ</a>
		<a href="/student/my_course" class="menu_left">Khóa học của tôi</a>
		<a href="/registration" class="menu_left">Đăng ký môn học</a>
		<a href="/student/profile" class="menu_left">Hồ sơ và quản lý cá nhân</a>
		<a href="/login" class="menu_right">Đăng xuất</a>
	</nav>
	<div id="flex_container">
		<div id="left_side">			
			<h1 id="menu_text">{{ student.name }}</h1>
			<h2>Sinh viên</h2>
			<h3><strong>Chi tiết người dùng</strong></h3>
			<p><strong>Email</strong></p>
			<p><a href="mailto:" {{ student_email }}>{{ student_email }}</a></p>
			<p><strong>Mã số sinh viên</strong></p>
			<p>{{ student.id }}</p>
			<p><strong>Ngày sinh</strong></p>
			<p>{{ student.date_of_birth }}</p>
			<p><strong>Khoa</strong></p>
			<p>{{ student.department }}</p>
			<p><strong>Ngành</strong></p>
			<p>{{ student.major }}</p>
		</div>
		<div id="right_side">
			<h3>Điểm số</h3>
			{% for semester_id, grades in grades_by_semester.items %}
				<h3>HK{{ semester_id }}</h3>
				<table>
					<tr>
						<th>Môn học</th>
						<th>Bài tập</th>
						<th>Giữa kì</th>
						<th>Cuối kì</th>
					</tr>
					{% for grade in grades %}
						<tr>
							<td>{{ grade.course.subject }}</td>
							{% if grade.homework is not None %}
            				<td>{{ grade.homework }}</td>
            				{% else %}
            				<td></td>
            				{% endif %}
							{% if grade.midterm_exam is not None %}
							<td>{{ grade.midterm_exam }}</td>
							{% else %}
							<td></td>
							{% endif %}
							{% if grade.final_exam is not None %}
							<td>{{ grade.final_exam }}</td>
							{% else %}
							<td></td>
							{% endif %}
					{% endfor %}
				</table>
			{% endfor %}
		</div>
	</div>



</body>
