<!-- Django -->
{% load static %}

<!DOCTYPE html>
<html lang='vi'>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Academic management">
	<meta content="author" name="Nguyen Loc">
	<meta content="country" name="Viet Nam">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/file.css' %}">
	<title>Trang sinh viên</title>
</head>
<body>
	<!-- BackGround -->
	<div id="back_ground_wave">
	     <div class="wave"></div>
	     <div class="wave"></div>
	     <div class="wave"></div>
 	</div>
	<!-- BackGround -->
	
	<nav>
		<a href="{% url 'Student:student' %}" class="menu_left">Trang chủ</a>
		<a href="{% url 'Student:student_course' %}" class="menu_left">Khóa học của tôi</a>
		<a href="{% url 'Registration:registration_student' %}" class="menu_left">Đăng ký môn học</a>
		<a href="{% url 'Student:student_profile' %}" class="menu_left">Hồ sơ lý lịch</a>
		<a href="{% url 'Student:student_score' %}" class="menu_left">Điểm số</a>
		<a href="{% url 'Student:student_schedule' %}" class="menu_left">Thời khóa biểu</a>
		<a href="{% url 'Logout:logout' %}" class="menu_right">Đăng xuất</a>
	</nav>
	<div id="flex_container">
		<div id="left_side">			
			<h1 id="menu_text">{{ student.name }}</h1>
			{% if student.avatar %}
            	<img src="{{ student.avatar.url }}" alt="{{ student.name }}" style="height: 300px; max-height: 300px; max-width: 300px;">
        	{% endif %}
		</div>
		<div id="right_side">
			<p><strong>Email</strong></p>
			<p><a href="mailto:" {{ student_email }}>{{ student_email }}</a></p>
			<p><strong>Mã số sinh viên</strong></p>
			<p>{{ student.student_id }}</p>
			<p><strong>Khoa</strong></p>
			<p>{{ student.department }}</p>
			<p><strong>Ngành</strong></p>
			<p>{{ student.major }}</p>
			<p><strong>Ngày sinh</strong></p>
			<p>{{ student.date_of_birth|date:"d/m/Y" }}</p>
			<p><strong>Giới tính</strong></p>
			<p>{{ student.gender }}</p>
			<p><strong>Quê quán</strong></p>
			<p>{{ student.hometown }}</p>
			<p><strong>Tình trạng</strong></p>
			<p>{{ student.state }}</p>
			<p><strong>Chương trình đào tạo</strong></p>
			<p>{{ student.type }}</p>
		</div>
	</div>
	
	<footer>
        <div class="call">
            <div class="fa fa-phone"></div>
            <p class="call_us">Liên hệ: 0123456789 </p>
        </div>
        <div class="contact">
            <div class="fa fa-envelope"></div>
            <p class="contact_us">E-mail:defuniversity@def.edu.vn</p>
        </div>
    </footer>
    <script src="{% static 'js/reloadPage.css' %}"></script>

</body>
