<!-- Django -->
{% load static %}

<!DOCTYPE html>
<html lang='vi'>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Academic management">
	<meta content="author" name="Nguyen Loc">
	<meta content="country" name="Viet Nam">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/file.css' %}">
	<title>Trang sinh viên</title>
</head>
<body>
	<!-- BackGround -->
	<div id="back_ground_wave">
	     <div class="wave"></div>
	     <div class="wave"></div>
	     <div class="wave"></div>
 	</div>
	<!-- BackGround -->
	
	<nav>
		<a href="/student" class="menu_left">Trang chủ</a>
		<a href="/student/my_course" class="menu_left">Khóa học của tôi</a>
		<a href="/student/course_registration" class="menu_left">Đăng ký môn học</a>
		<a href="/student/profile" class="menu_left">Hồ sơ và quản lý cá nhân</a>
		<a href="/login" class="menu_right">Đăng xuất</a>
	</nav>
	<div id="flex_container">
		<div id="left_side">			
			<h1 id="menu_text">HỌ&TÊN SV||GV</h1>
			<h2>Sinh viên || Giảng viên</h2>
			<h3><strong>Chi tiết người dùng</strong></h3>
			<p><strong>Địa chỉ thư điện tử</strong></p>
			<p><a href="mailto:loc.nguyendev04@hcmut.edu.vn">loc.nguyendev04@hcmut.edu.vn</a></p>
			<p><strong>Quốc gia</strong></p>
			<p>Việt Nam</p>
			<p><strong>Tỉnh/Thành phố</strong></p>
			<p>HCM</p>
			<p><strong>Múi giờ</strong></p>
			<p>Asia/Ho_Chi_Minh</p>
		</div>
		<div id="right_side">
			<h3>Điểm số</h3>
			<table>
				<tr>
					<th rowspan="2"></th>
					<th rowspan="2">Môn học</th>
					<th colspan="3">Điểm</th>
				</tr>
				<tr>
					<th>KT</th>
					<th>BTL</th>
					<th>Thi</th>
				</tr>
				<tr>
					<th rowspan="6">HK231</th>
					<td>Tiếng nhật 3</td>
					<td>0</td>
					<td>N/a</td>
					<td>10</td>
				</tr>
				<tr>
					<td>Dsa</td>
					<td>1</td>
					<td>1</td>
					<td>10</td>
				</tr>
				<tr>
					<td>Giải tích 3</td>
					<td>10</td>
					<td>9</td>
					<td>1.5</td>
				</tr>
				<tr>
					<td>Giải tích 3</td>
					<td>10</td>
					<td>9</td>
					<td>1.5</td>
				</tr>
				<tr>
					<td>Giải tích 3</td>
					<td>10</td>
					<td>9</td>
					<td>1.5</td>
				</tr>
				<tr>
					<td>Giải tích 3</td>
					<td>10</td>
					<td>9</td>
					<td>1.5</td>
				</tr>
				<tr>
					<th rowspan="6">HK232</th>
					<td>Tiếng nhật 3</td>
					<td>0</td>
					<td>N/a</td>
					<td>10</td>
				</tr>
				<tr>
					<td>Dsa</td>
					<td>1</td>
					<td>1</td>
					<td>10</td>
				</tr>
				<tr>
					<td>Giải tích 3</td>
					<td>10</td>
					<td>9</td>
					<td>1.5</td>
				</tr>
				<tr>
					<td>Giải tích 3</td>
					<td>10</td>
					<td>9</td>
					<td>1.5</td>
				</tr>
				<tr>
					<td>Giải tích 3</td>
					<td>10</td>
					<td>9</td>
					<td>1.5</td>
				</tr>
				<tr>
					<td>Giải tích 3</td>
					<td>10</td>
					<td>9</td>
					<td>1.5</td>
				</tr>
			</table>
		</div>
	</div>



</body>
