<!-- Django -->
{% load static %}

<!DOCTYPE html>
<html lang='vi'>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Academic management">
	<meta content="author" name="Nguyen Loc">
	<meta content="country" name="Viet Nam">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<title>Trang chủ</title>
</head>
<body>
	<nav>
		<a href="/student" class="menu_left">Trang chủ</a>
		<a href="/student/my_course" class="menu_left">Khóa học của tôi</a>
		<a href="/student/course_registration" class="menu_left">Đăng ký môn học</a>
		<a href="/student/profile" class="menu_left">Hồ sơ và quản lý cá nhân</a>
		<a href="/login" class="menu_right">Đăng xuất</a>
	</nav>

	<h1 id="menu_text">
		Welcome to ...
	</h1>

	<!-- BackGround -->
	<div id="back_ground_wave">
	     <div class="wave"></div>
	     <div class="wave"></div>
	     <div class="wave"></div>
 	</div>
	<!-- BackGround -->

</body>
